.top-navbar{
  position: fixed;
  top: 50px;
  padding: 10px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  .wrap{
    max-width: 1240px;
    padding: 0 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .nav{
    width: 100%;
  }
  .navbar-list{
    display: flex;
    justify-content: space-between;
  }
  .navbar-items{
    margin-right: 30px;
    font-size: 16px;
    &:last-child{
      margin-right: 0;
    }
  }
  .navbar-link{
    color: #ffffff;
  }
  .navbar-link__active{
    color: var(--accent-color);
  }
}
